.logotitle
{
   display:flex;
   justify-content:flex-start;
}
body
{
background-color: #82efb3
}
.image{
  float: right;
  max-width: 30%;
  padding-top: 20px;
  border-radius:60%;
  animation: shake 0.5s;
  animation-duration:3s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg);}
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.bodyh1{
  font-family: 'Rubik Moonrocks', cursive;
  color:  #05386B;
  font-size: 3.5rem;
}
.bodydiv
{
  animation: moveToRight 2s ease-in-out;
  animation-delay: 0ms;
}
@keyframes moveToRight {
  0% {
      transform: translateX(-800px);
  }
  
  100% {
      transform: translateX(0px);
  }}
.container-fluid{
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.navbar{
  display: flex;
  justify-content: space-around;
  gap: 401px;
  height:5vh;
  align-items: center;
  z-index:1;
  position: -webkit-sticky;
  position: sticky;
  opacity:1;
  padding:20px;
  margin-left:20px;
  margin-right:20px;
  border-bottom:5px solid #F4DECB;
  margin-bottom:20px;
}


.site-title {
  font-family: 'Fascinate', cursive;
  font-size: 2rem;
}
.dropbtn
{
  cursor:pointer;
}


.dropcontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom:1px solid black;
}
.btn{
  float:right;
  padding:20px;
  border-radius:5px;
 cursor:pointer;
 background-color: beige;
}
.dropcontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-left:10px;
  padding-right:10px;
}


.dropcontent a:hover
{
background-color: LightGray;
  font-size:26px;
}

.dropdown:hover .dropcontent {
  display: block;}


.navbar ul {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  list-style: none;
  display:flex;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  gap:3rem;

}

.navbar a {
  color: #05386B ;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}


.navbar li.active {
  background-color:#5CDB95;
}

.navbar li:hover {
  border-bottom:3px solid #F4DECB;
  color:#F4DECB;

}
.dropbtn:hover {
  border-bottom:3px solid #F4DECB;
  color:#F4DECB;

}
.navbar li:active {
  border-bottom:3px solid #F4DECB;
  color:#F4DECB;

}
.dropbtn:active{
  border-bottom:3px solid #F4DECB;
  color:#F4DECB;

}
.dropcontent {

  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-left:10px;
  padding-right:10px;
}

.dropcontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom:1px solid black;
}
.dropcontent a:hover
{
background-color: LightGray;
  font-size:26px;
}

.dropdown:hover .dropcontent {
  display: block;}
